<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add your package sources here -->
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Local" value="/Users/davidortinau/work/LocalNuGets" />
        <add key="nightly" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/maui-nightly/nuget/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <!-- Uncomment to disable package sources -->
        <!--<add key="Microsoft and .NET" value="true" />-->
        <!--<add key="nuget.org" value="true" />-->
    </disabledPackageSources>
    <activePackageSource>
        <!-- Set the active package source here -->
        <!--<add key="All" value="(Aggregate source)" />-->
    </activePackageSource>
</configuration>